body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.w3-display-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

div {
    width: 20%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}


.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

button {
    width: 20%;
}

.login-redirect {
    margin-top: 15px;
    font-size: 1rem;
    color: #333;
}

.login-redirect a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.login-redirect a:hover {
    text-decoration: underline;
}

.error-list {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 3px;
    text-align: center;
}